[user]
	name = George Jones
	email = gmj@pobox.com
[core]
        editor = emacsclient -c
	excludesfile = ~/.gitignore
	quotepath = false
	commitGraph = true
[status]
#	showUntrackedFiles = no
	showUntrackedFiles = normal
	
#[push]
#	default = simple
[gc]
	writeCommitGraph = true
