[user]
	name = George Jones
	email = gmj@pobox.com
[core]
        editor = emacsclient -c
	excludesfile = ~/.gitignore
[status]
#	showUntrackedFiles = no
	showUntrackedFiles = normal
	
#[push]
#	default = simple
